@page "/redirectedpage/{Year:int}"
@*@inject HttpClient httpClient
@inject NavigationManager navManager*@

<h2 class="text-center mb-5">Реестры обращений, предполагаемых к переадресации в иные органы и ведомства</h2>
<div class="row mb-2">
    <div class="col-md-6">
@*        <a href="/addredirectedappeal/@period/@Year" class="btn btn-outline-primary" role="button">
            <p class="h4 pt-2">Создать</p>
        </a>*@
        <button class="btn btn-primary" @onclick="NavigateToAddPage" disabled=@isDisabled>
            Создать запись
        </button>
    </div>
</div>

<div class="row mt-5">
    <div class="mb-3">
        <label class="form-label">Период:</label>
        <div class="col-md-4">
            <input type="number" @bind-value=period @bind-value:event="oninput" @onkeyup="EnableNav"/>
        </div>
    </div>
</div>

@if (periodsList.Count == 0)
{
    <p>Загружается...</p>
}
else
{
@*  <ul class="text-center list-unstyled">
      @foreach (var appeal in appealsList)
      {
          <li>
              @appeal.DateInfo  Переадресация  
              <a href="/updateappeal/@appeal.Id" class="btn btn-outline-dark">Смотреть</a>
              <a href="/deleteappeal/@appeal.Id" class="btn btn-outline-danger">Удалить</a>
              <hr />
          </li>
      }
    </ul>
    <hr />*@
    <div class="modal-header">
        <h3>Данные (#Az) за @Year год</h3>
    </div>
    <></>
    <table class="table table-striped align-middle text-center">
        <thead class="table-success">
            <tr>
                <th class="h4">Дата</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var period in periodsList)
            {
                <tr>
                    <td class="h4">@period Переадресация</td>
                    <td>
                        <a href="/redirectedappealregistry/@period/@Year" class="btn btn-outline-dark">Смотреть</a>
@*                        <a href="/deleteredirectedappeal/@period/@Year" class="btn btn-outline-danger">Удалить</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public IRedirectedAppealDataService? RedirectedAppealDataService { get; set; }

    [Parameter]
    public int Year { get; set; }

    private string period;

    private bool isDisabled = true;

    private void EnableNav() //KeyboardEventArgs eventArgs
    {
        if (!String.IsNullOrWhiteSpace(period))
        {
            isDisabled = false;
        }
        //if (eventArgs.Key == "Enter")
        //{
        //    isDisabled = false;
        //}
    }

    private List<string> periodsList = new();

    protected override async Task OnInitializedAsync()
    {
        //appealsList = new List<DistrictRegisterModel>(){
        //    new DistrictRegisterModel{ DateInfo = DateTime.Now.ToString("dd.MM.yyyy")},
        //    new DistrictRegisterModel{ DateInfo = DateTime.Now.ToString("dd.MM.yyyy")},
        //    new DistrictRegisterModel{ DateInfo = DateTime.Now.ToString("dd.MM.yyyy")}
        //};
        periodsList = (await RedirectedAppealDataService.GetRedirectedAppealPeriods("Az", Year)).ToList();

        //await httpClient.GetFromJsonAsync<List<DistrictRegisterModel>>("api/redirectedappeal/{district}/{period}/{year}");
    }

    private void NavigateToAddPage()
    {
        navManager.NavigateTo($"/addredirectedappeal/{period}/{Year}");

    }
}
