@page "/redirectedpage/{Year:int}"
@*@inject HttpClient httpClient
@inject NavigationManager navManager*@

<div class="container mb-3">
    <h2 class="text-center mb-5">Реестры обращений, предполагаемых к переадресации в иные органы и ведомства</h2>
@*    <h3 class="float-end">@userDescription</h3>*@
</div>

<AuthorizeView Roles=@Participants.District>
    <Authorized>
        <div class="row mb-2">
            <div class="col-md-6">
                <button class="btn btn-primary" @onclick="NavigateToAddPage" disabled=@isDisabled>
                    Создать запись
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="mb-3">
                <label class="form-label">Период:</label>
                <div class="col-md-4">
                    <input type="number" @bind-value=period @bind-value:event="oninput" @onkeyup="EnableNav" />
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@if (periodsList.Count == 0)
{
@*    <p>Загружается...</p>*@
}
else
{
    <div class="modal-header">
        <h3>Данные за @Year год</h3>
    </div>
    <></>
    <table class="table table-striped align-middle text-center">
        <thead class="table-success">
            <tr>
                <th class="h4">Дата</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in periodsList)
            {
                <tr>
                    <td class="h4">@p Переадресация</td>
                    <td>
                        @if (UserState.User.IsInRole(Participants.District))
                        {
                            <a href="/redirectedappealregistry/@p/@Year" class="btn btn-outline-dark">Смотреть</a>
                        }
                        else
                        {
                            <a href="/redirecteddistrictspage/@p/@Year" class="btn btn-outline-dark">Смотреть</a>
                        }                                                                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public IUserService? UserService { get; set; }
    [Inject]
    public IRedirectedAppealDataService? RedirectedAppealDataService { get; set; }

    [Parameter]
    public int Year { get; set; }

    private string period;
    private bool isDisabled = true;

    //%//
    [CascadingParameter]
    public AuthenticationState UserState { get; set; }
    [CascadingParameter]
    public string DistrictName { get; set; }
    //%//

    private List<string> periodsList = new();

    protected override async Task OnInitializedAsync()
    {
        if (UserState.User.IsInRole(Participants.District))
        {
            periodsList = (await RedirectedAppealDataService.GetRedirectedPeriodsByDistrict(DistrictName, Year)).ToList();  //"Az"
        }
        else
        {
            periodsList = (await RedirectedAppealDataService.GetAllRedirectedPeriods(Year)).ToList();
        }
    }

    private void NavigateToAddPage()
    {
        navManager.NavigateTo($"/addredirectedappeal/{period}/{Year}");
    }

    private void EnableNav() //KeyboardEventArgs eventArgs
    {
        if (!String.IsNullOrWhiteSpace(period))
        {
            isDisabled = false;
        }
        //if (eventArgs.Key == "Enter")
        //{
        //    isDisabled = false;
        //}
    }
}