@page "/redirectedpage/{Year:int}"
@*@inject HttpClient httpClient
@inject NavigationManager navManager*@

<div class="container-fluid mt-2 text-center">
    <h2 class="mb-4">Реестры обращений, предполагаемых к переадресации в иные органы и ведомства</h2>
@*    <h3 class="float-end">@userDescription</h3>*@
<AuthorizeView Roles=@Participants.District>
    <Authorized>
            <div class="d-inline-flex m-3 justify-content-end w-75 h3">
                <div class="mt-1">
                    <label>Дата: </label>
                </div>
                <div class="ms-3 me-3 mt-1">
                    <input type="date" @bind=_dateTime />
                </div>
                <div>
@*disabled=@isDisabled  vv*@
                    <button class="btn btn-primary btn-lg" @onclick="NavigateToAddPage">
                        Создать запись
                    </button>
                </div>
            </div>

    </Authorized>
</AuthorizeView>

@if (periodsList == null)
{
@*    <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
*@

@*    <div class="loading-container">
        <div class="loading">
            <div class="l1">
                <div></div>
            </div>
            <div class="l2">
                <div></div>
            </div>
            <div class="l3">
                <div></div>
            </div>
            <div class="l4">
                <div></div>
            </div>
        </div>
    </div>*@

    <div class="cp-spinner-block align-content-center">
        <!--Spinner Flip Element-->
@*        <div class="cp-spinner cp-flip"></div>*@
        <!--//Spinner Flip Element-->
        <!--Caption-->
@*        <span>Загрузка...</span>*@
        <!--//Caption-->
        <!--Syntax-->
@*        <pre>&lt;div class="cp-spinner cp-flip"&gt;&lt;/div&gt</pre>*@
        <!--//Syntax-->

        <div class="spinner-box mx-auto">
            <div class="configure-border-1">
                <div class="configure-core"></div>
            </div>
            <div class="configure-border-2">
                <div class="configure-core"></div>
            </div>
        </div>
    </div>
}
else if (periodsList.Count == 0)
{
     <h3>Отсутствую данные за заданный период</h3>    
}
else
{
<div class="container overflow-auto" style="background-image: url('img/OL1000px.jpg'); height: 800px; background-repeat: no-repeat; background-position: center;">

<div>
    <table class="table table-striped align-middle text-center ">
        <thead class="table-primary">
            <tr>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var p in periodsList)
            {
                <tr style="height:90px">
                        <td class="h3">
                            <div class="row">
                                <div class="col-3"></div>
                                    <div class="col-5 d-flex align-content-start">@p.@Year Переадресация </div>
                                <div class="col-4 d-flex align-content-start">
                                    @if (UserState.User.IsInRole(Participants.District))
                                    {
                                        <a href="/redirectedappealregistry/@DistrictName/@p/@Year" class="btn btn-outline-primary"><p class="h3">СМ</p></a>
                                    }
                                    else
                                    {
                                        <a href="/redirecteddistrictspage/@p/@Year" class="btn btn-outline-primary"><p class="h3">СМ</p></a>
                                    }
                                </div>
                            </div>
                            
                            
@*                            @p Переадресация*@




                        </td>


@*                        <td class="text-start">
                            @if (UserState.User.IsInRole(Participants.District))
                            {
                                <a href="/redirectedappealregistry/@p/@Year" class="btn btn-outline-primary"><p class="h3 align-content-center">СМ</p></a>
                            }
                            else
                            {
                                <a href="/redirecteddistrictspage/@p/@Year" class="btn btn-outline-primary"><p class="h3 align-content-center">СМ</p></a>
                            }
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
    
</div>
    
</div>
}
</div>



@code {
    [Inject]
    public IUserService? UserService { get; set; }
    [Inject]
    public IRedirectedAppealDataService? RedirectedAppealDataService { get; set; }
    //%//
    [CascadingParameter(Name = "UserState")]
    public AuthenticationState UserState { get; set; }
    [CascadingParameter(Name = "DistrictName")]
    public string DistrictName { get; set; }
    //%//

    [Parameter]
    public int Year { get; set; }
    private string period;
    private bool isDisabled = true;
    private List<string> periodsList;// = new();

    //private enum LoadingCollectionState {Loading, Loaded, Error};
    private DateTime _dateTime;
    //private LoadingCollectionState state;

    protected override async Task OnInitializedAsync()
    {
        if (UserState!= null && UserState.User.IsInRole(Participants.District))
        {
            periodsList = (await RedirectedAppealDataService.GetRedirectedPeriodsByDistrict(DistrictName, Year)).ToList();  //"Az"
            _dateTime = DateTime.Now;
        }
        else
        {
            periodsList = (await RedirectedAppealDataService.GetAllRedirectedPeriods(Year)).ToList();
        }
    }

    private void NavigateToAddPage()
    {
        //period = _dateTime.ToString("dd.MM");
        navManager.NavigateTo($"/addredirectedappeal/{DistrictName}/{_dateTime.ToString("dd.MM")}/{Year}"); //period
    }

    private void EnableNav() //KeyboardEventArgs eventArgs
    {
        if (!String.IsNullOrWhiteSpace(period))
        {
            isDisabled = false;
        }
        //if (eventArgs.Key == "Enter")
        //{
        //    isDisabled = false;
        //}
    }
}