@page "/redirecteddistrictspage/{Period}/{Year:int}"

<div class="container mt-5">
  <h5 class="text-center my-3">Реестр обращений, предполагаемых к переадресации в иные органы и ведомства</h5>            
  <h4 class="text-center my-3">По районам на @Period @Year года</h4>
</div>

<table class="table table-striped align-middle text-center">
    <thead class="table-success">
        <tr>
            <th class="h4">Дата</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var district in districtsList)
        {
            <tr>
                <td class="h4">@district Переадресация</td>
                <td>
                    <a href="/redirectedappealassessment/@district/@Period/@Year" class="btn btn-outline-dark">Смотреть</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Inject]
    public IRedirectedAppealDataService? RedirectedAppealDataService { get; set; }
    [Parameter]
    public string Period { get; set; }
    [Parameter]
    public int Year { get; set; }


    private List<string> districtsList = new();

    protected override async Task OnInitializedAsync()
    {
        districtsList = (await RedirectedAppealDataService.GetRedirectedAppealsByDistricts(Period, Year)).ToList();
        //await httpClient.GetFromJsonAsync<List<DistrictRegisterModel>>("api/redirectedappeal/{district}/{period}/{year}");
    }

}
