@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
@*            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            <AuthorizeView>
                <Authorized>
                    <h4>@userDescription</h4>
                    <a @onclick="Logout" href="javascript:void(0)">Выйtи</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Войtи</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <CascadingValue Value="userState">
                <CascadingValue Value="districtName">
                    @Body
                </CascadingValue>
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    [Inject]
    public IUserService? UserService { get; set; }
    [CascadingParameter] //check
    private Task<AuthenticationState> authenticationState { get; set; }
    private string userDescription;
    
    //%// 
    public AuthenticationState userState { get; set; }
    public string districtName { get; set; }
    //%//


    protected override async Task OnInitializedAsync() //On Parameters set
    {
        userState = await authenticationState;
        districtName = userState.User.Identity.Name; //var (truncate vv)

        if (!string.IsNullOrEmpty(districtName))
        {
            userDescription = await UserService.GetUserDescription(districtName);
        }
    }


    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}


@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@
