@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row d-flex justify-content-between bg-dark bg-gradient">
            <AuthorizeView>
                <Authorized>
                    <h4 class="text-white">Прокуратура Республики Татарстан: @UserDescription</h4>
                    <a @onclick="Logout" href="javascript:void(0)" class="btn btn-outline-light h5">Выйти</a>
                </Authorized>
                <NotAuthorized>
                    <h4 class="text-white">Прокуратура Республики Татарстан</h4>
                    <a href="/login" class="btn btn-outline-light h5">Войти</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <CascadingValue Name="UserState" Value="UserState">
                <CascadingValue Name="DistrictName" Value="DistrictName">
                    <CascadingValue Name="UserDescription" Value="UserDescription">
                        <CustomErrorBoundary Context="Exception">
                            <ChildContent>
                                @Body
                            </ChildContent>
                            <ErrorContent>
                                <div class="alert bg-danger text-white alert-dismissible">
                                    <p class="my-custom-class">Произошла ошибка, свяжитесь с отделом информационных технологий</p>
                                    Детали исключения: @Exception.GetType(): @Exception.Message
                                </div>
                            </ErrorContent>
                        </CustomErrorBoundary>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    [Inject]
    public IUserService UserService { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    public AuthenticationState UserState { get; set; }
    public string? DistrictName { get; set; }
    public string? UserDescription { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        UserState = await authenticationState;
        DistrictName = UserState?.User.Identity.Name;

        if (!string.IsNullOrEmpty(DistrictName))
        {
            UserDescription = await UserService.GetUserDescription(DistrictName);
        }
    }

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}