<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Рабочая группа</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> На главную
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="redirectedpage/2022">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Переадресация
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="satisfiedpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Удовлетворено
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nosolutionpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Без разрешения
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adddepartment">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Управление отделами
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
