@inject YearSetter yearSetter

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""> <p class="h5">Рабочая группа<img src="img/OREL0.png" class="ps-3" /></p></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home h5" aria-hidden="true"></span> <p class="h5">На главную</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"redirectedpage/{yearSetter.YearInfo }")">
                <span class="oi oi-list-rich h5" aria-hidden="true"></span> <p class="h5">Переадресация</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="satisfiedpage">
                <span class="oi oi-list-rich h5" aria-hidden="true"></span> <p class="h5">Удовлетворено</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nosolutionpage">
                <span class="oi oi-list-rich h5" aria-hidden="true"></span> <p class="h5">Без разрешения</p>
            </NavLink>
        </div>
       @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="adddepartment">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Управление отделами
            </NavLink>
        </div>*@
@*        <div style="height:70vh;">
            <div class="nav-item px-3">
                <p class="text-white align-bottom">тех.поддержка 291-18-74 </p>
            </div>
        </div>*@
@*        <div class="col">
        </div>*@
        <table style="height:70vh;">
            <tbody>
                <tr>
                    <td class="align-bottom">
                        <p class="text-white nav-item ps-4">тех.поддержка 291-18-74 </p>
                    </td>
                </tr>
            </tbody>
        </table>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
