<div class="container-fluid vh-100 p-0" style="background-image: url('img/ORELNav.png');background-repeat: no-repeat; background-position: center;">
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
            <a class="navbar-brand" href=""> <p class="h5">Рабочая группа<img src="img/wg1.png" style="height:30px" class="ps-3"/></p></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home h5" aria-hidden="true"></span> <p class="h5">На главную</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"redirectedpage/{yearSetter.YearInfo }")">
                <span class="oi oi-list-rich h5" aria-hidden="true"></span> <p class="h5">Переадресация</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"satisfiedpage/{yearSetter.YearInfo }")">                    
                <span class="oi oi-list-rich h5" aria-hidden="true"></span> <p class="h5">Удовлетворено</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"nosolutionpage/{yearSetter.YearInfo }")">
                <span class="oi oi-list-rich h5" aria-hidden="true"></span> <p class="h5">Без разрешения</p>
            </NavLink>
        </div>
    </nav>
    <div style="position:absolute; bottom:0">
        <p class="text-white nav-item ps-4 mb-0 align-text-bottom">тех.поддержка 291-18-74 </p>
    </div>
</div>
        </div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
