@page "/nosolutionpage/{Year:int}"

<div class="container-fluid mt-2 text-center">
    <h2 class="mb-5">Реестр обращений, по которым приняты решения: "Оставлено без разрешения и (или) приобщено к НП, в том числе списано без уведомления" и "Оставлено без разрешения – возвращено заявителю" @Year г.</h2>
    <div class="container overflow-auto" style="background-image: url('img/BG.jpg'); height: 750px; background-repeat: no-repeat; background-position: center;">
        <div>
            <table class="table table-striped align-middle text-center ">
                <thead class="table-primary">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for (int q = 0; q < ReferencePeriod.Quarters.Count; q++)
                {
                    <tr style="height:100px">
                        <td class="fs-2">
                            <div class="d-flex justify-content-center">
                                <div class="my-3">@ReferencePeriod.Quarters.ElementAt(q).Value @Year Без разрешения </div>
                                <div class="mx-4">
                                    @if (UserState.User.IsInRole(Participants.District))
                                    {
                                        <a href="/nosolutionappealregistry/@DistrictName/@ReferencePeriod.Quarters.ElementAt(q).Key/@Year" class="btn btn-outline-primary"><img src="img/edit32.png" width="50" height="50" class="mt-2" /></a>
                                    }
                                    else if (UserState.User.IsInRole(Participants.Department))
                                    {
                                        <a href="/nosolutiondistrictspage/@DistrictName/@ReferencePeriod.Quarters.ElementAt(q).Key/@Year" class="btn btn-outline-primary"><img src="img/open32.png" width="50" height="50" class="mt-2" /></a>
                                        if (unansweredsByPeriod[q] != 0)
                                        {
                                            <a href="/nosolutionunanswered/@DistrictName/@ReferencePeriod.Quarters.ElementAt(q).Key/@Year" class="btn btn-outline-primary">Не рассмотрено @unansweredsByPeriod[q]</a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="/nosolutiondistrictspage/@ReferencePeriod.Quarters.ElementAt(q).Key/@Year" class="btn btn-outline-primary"><img src="img/open32.png" width="50" height="50" class="mt-2" /></a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
@*                    @foreach (var q in ReferencePeriod.Quarters)
                    {
                        <tr style="height:100px">
                            <td class="fs-2">
                                <div class="d-flex justify-content-center">
                                    <div class="my-3">@q.Value @Year Без разрешения </div>
                                    <div class="mx-4">
                                        @if (UserState.User.IsInRole(Participants.District))
                                        {
                                            <a href="/nosolutionappealregistry/@DistrictName/@q.Key/@Year" class="btn btn-outline-primary"><img src="img/edit32.png" width="50" height="50" class="mt-2" /></a>
                                        }
                                        else if (UserState.User.IsInRole(Participants.Department))
                                        {
                                            <a href="/nosolutiondistrictspage/@DistrictName/@q.Key/@Year" class="btn btn-outline-primary"><img src="img/open32.png" width="50" height="50" class="mt-2" /></a>
                                            <a href="/nosolutionunanswered/@DistrictName/@q.Key/@Year" class="btn btn-outline-primary">Не рассмотрено</a>
                                        }
                                        else
                                        {
                                            <a href="/nosolutiondistrictspage/@q.Key/@Year" class="btn btn-outline-primary"><img src="img/open32.png" width="50" height="50" class="mt-2" /></a>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
        <h4 class="mt-5 text-secondary fst-italic">Для просмотра и заполнения данных за предыдущий год - уточните его на главной странице</h4>
    </div>
</div>

@code {
    [Inject]
    public INoSolutionAppealDataService? NoSolutionAppealDataService { get; set; } //23

    [CascadingParameter(Name = "UserState")]
    public AuthenticationState UserState { get; set; }
    [CascadingParameter(Name = "DistrictName")]
    public string DistrictName { get; set; }

    [Parameter]
    public int Year { get; set; }

    private int[]? unansweredsByPeriod;

    protected override async Task OnInitializedAsync()
    {
        if (UserState.User.IsInRole(Participants.Department))
        {
            unansweredsByPeriod = new int[ReferencePeriod.Quarters.Count];
            int i = 0;
            foreach (var q in ReferencePeriod.Quarters)
            {
                unansweredsByPeriod[i++] = await NoSolutionAppealDataService.GetUnansweredNumberForDepartment(DistrictName, q.Key, Year);
            }
        }
    }

}
