@page "/"
@inject Services.YearSetter yearSetter
<PageTitle>Рабочая группа</PageTitle>

<h1 class="display-4 text-center mt-3 mb-5">Рабочая группа по обращениям</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 25rem; height: 23rem;">
                <div class="card-body">
                    <h1 class="card-title text-center text-primary mt-3 mb-4">Переадресация</h1>
                    <p class="card-text h5">Реестры обращений, предполагаемых к переадресации в иные органы и ведомства</p>
                    <p class="card-text text-secondary fst-italic">еженедельно</p>
                    <a href="redirectedpage/@yearSetter.YearInfo" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 25rem; height: 23rem;">
                <div class="card-body">
                    <h1 class="card-title text-center text-success mt-3 mb-4">Удовлетворено</h1>
                    <p class="card-text h5">Реестры обращений, по которым приняты решения "Удовлетворено" и "Удовлетворено частично"</p>
                    <p class="card-text text-secondary fst-italic">раз в квартал</p>
                    <a href="satisfiedpage/@yearSetter.YearInfo" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 25rem; height: 23rem;">
                <div class="card-body">
                    <h1 class="card-title text-center text-warning mt-3 mb-4">Без разрешения</h1>
                    <p class="card-text h5">Реестры обращений, по которым приняты решения "Оставлено без разрешения и (или) приобщено к НП"</p>
                    <p class="card-text text-secondary fst-italic">раз в квартал</p>
                    <a href="nosolutionpage/@yearSetter.YearInfo" class="stretched-link"></a>
                </div>
            </div>
            <div class="mt-5 h3 d-flex justify-content-end">
                <label class="form-label me-3">Год: </label>
                <div class="col-md-4">
                    <input type="number" class="w-75 text-center" @bind-value=yearSetter.YearInfo />
                </div>
            </div>
        </div>

    </div>

@*    <div class="row mt-5">
        <div class="mb-3">
            <label class="form-label">Год:</label>
            <div class="col-md-4">
                <input type="number" @bind-value=yearSetter.YearInfo />
            </div>
        </div>
    </div>*@
</div>


