<div class="d-flex justify-content-end">
    <p>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#noteCollapse" aria-expanded="false" aria-controls="noteCollapse">
            Примечания:
        </button>
    </p>
</div>
<div style="min-height: 120px;">
    <div class="collapse" id="noteCollapse">
        <div class="card card-body">
            <p>
                * В графе «Характер обращения» проставляется индекс подразделения аппарата прокуратуры Республики Татарстан,
                в компетенцию которого входит разрешение вопросов, поставленных заявителем: управление по надзору
                за исполнением федерального законодательства – 7, управление по надзору за следствием, дознанием и оперативно-разыскной деятельностью – 15, отдел по надзору за исполнением законодательства о несовершеннолетних и молодежи – 21, уголовно-судебное управление – 12, отдел по обеспечению участия прокуроров в гражданском и арбитражном процессе – 8,
                отдел по надзору за исполнением законов о федеральной безопасности, межнациональных отношениях, противодействии экстремизму и терроризму – 27, отдел по надзору за исполнением законодательства о противодействии коррупции – 86,
                отдел по надзору за исполнением законов в сфере оборонно-промышленного комплекса – 88.
            </p>

            <p>
                ** «Оставлено без разрешения и (или) приобщено к НП, в том числе списано без уведомления» либо «Оставлено
                без разрешения – возвращено заявителю»
            </p>

            <p class="my-0">
                *** Графа заполнятся руководителем подразделения аппарата прокуратуры Республики Татарстан, дающим соответствующую оценку с учетом следующего алгоритма изучения обращений, по которым приняты решения: «Оставлено без разрешения и (или) приобщено к НП, в том числе списано без уведомления» и «Оставлено
                без разрешения - возвращено заявителю»:
            </p>
            <ol class="pb-0 my-0">
                <li>
                    Обоснованность возврата обращений заявителям без рассмотрения (пункты 2.9 и 2.11 Инструкции – обращения,
                    в которых отсутствуют сведения, достаточные для их разрешения; текст письменного обращения не позволяет определить
                    суть предложения, заявления или жалобы; текст письменного обращения не поддается прочтению).
                </li>
                <li>
                    Направление ответов заявителям в обусловленные сроки с разъяснением порядка повторного обращения в органы прокуратуры (пункты 2.9 и 2.11 Инструкции – обращения в течение 7 дней со дня регистрации возвращаются заявителям
                    с предложением восполнить недостающие данные, а при необходимости – с разъяснением, куда им для этого следует обратиться).
                </li>
            </ol>
        </div>
    </div>
</div>