<div class="d-flex justify-content-end">
<p>
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#noteCollapse" aria-expanded="false" aria-controls="noteCollapse">
        Примечания:
    </button>
</p>
</div>
<div style="min-height: 120px;">
    <div class="collapse" id="noteCollapse">
        <div class="card card-body">
            <p>
                * В графе «Характер обращения» проставляется индекс подразделения аппарата прокуратуры Республики Татарстан,
                в компетенцию которого входит разрешение вопросов, поставленных заявителем: управление по надзору
                за исполнением федерального законодательства – 7, управление по надзору за следствием, дознанием и оперативно-разыскной деятельностью – 15, отдел по надзору за исполнением законодательства о несовершеннолетних и молодежи – 21, уголовно-судебное управление – 12, отдел по обеспечению участия прокуроров в гражданском и арбитражном процессе – 8,
                отдел по надзору за исполнением законов о федеральной безопасности, межнациональных отношениях, противодействии экстремизму и терроризму – 27, отдел по надзору за исполнением законодательства о противодействии коррупции – 86,
                отдел по надзору за исполнением законов в сфере оборонно-промышленного комплекса – 88.
            </p>

            <p class="my-0">** A также фактического устранения нарушений закона, восстановления нарушенных прав, своевременности предоставления ответов: Графа заполнятся руководителем подразделения аппарата прокуратуры Республики Татарстан, дающим соответствующую оценку с учетом следующего алгоритма <b>изучения обращений, по которым приняты решения: «Удовлетворено» и «Удовлетворено частично»:</b></p>
            <ol class="pb-0 my-0">
                <li>
                    Оценка каждого довода обращения и, соответственно, каждого факта правонарушения с принятием
                    мер прокурорского реагирования (пункт 1.5 решения коллегии от 28 апреля 2021 г. – при рассмотрении обращений давать принципиальную оценку каждому факту правонарушения, возмещению причиненного заявителям ущерба, ставить вопрос
                    о привлечении к ответственности виновных должностных лиц по статье 5.59 (нарушение порядка рассмотрения обращений граждан) Кодекса Российской Федерации об административных правонарушениях. Активнее использовать полномочия
                    по возбуждению дел об административных правонарушениях при неисполнении законных требований прокурора).
                </li>
                <li>
                    Факт реального внесения акта прокурорского реагирования, в т.ч. через призму внесения акта реагирования
                    в течении обусловленного для разрешения обращения срока (акт прокурорского реагирования должен быть приложен
                    к материалам надзорного производства по жалобе, а также прикреплен к рабочей карточке обращения в АИК «Надзор-WEB»).
                </li>
                <li>
                    Исполнение акта прокурорского реагирования (контроль за своевременным поступлением ответов на акты прокурорского реагирования; наличие в надзорном производстве и в рабочей карточке обращения
                    в АИК «Надзор-WEB» информации о результатах рассмотрения акта прокурорского реагирования; оценка фактического исполнения содержащихся в акте требований; рассмотрение вопроса о привлечении лица
                    к административной ответственности за неисполнение законных требований прокурора).
                </li>
                <li>
                    Фактическое устранение выявленных нарушений, достижение итоговых результатов, контроль за реальным устранением нарушений (пункт 1.5 решения коллегии от 28 апреля 2021 г. – добиваться реального устранения нарушений закона, восстановления прав и законных интересов граждан. Выработать комплекс мер, направленных на обеспечение надлежащего контроля за принятием действенных мер по удовлетворенным обращениям граждан вплоть до достижения итоговых результатов).
                </li>
                <li>
                    Направление ответов заявителям в обусловленные сроки, в т.ч. в разрезе рассмотрения жалоб на действия органов следствия и дознания в рамках Инструкции, а не в порядке, регламентированном ст. 124 Уголовно-процессуального кодекса Российской Федерации (пункт 5.1 Инструкции – обращения граждан, военнослужащих и членов их семей, должностных
                    и иных лиц разрешаются в течение 30 дней со дня их регистрации в органах прокуратуры Российской Федерации;
                    ст. 124 Уголовно-процессуального кодекса Российской Федерации – прокурор рассматривает жалобу в течение 3 суток
                    со дня ее получения. В исключительных случаях, когда для проверки жалобы необходимо истребовать дополнительные материалы либо принять иные меры, допускается рассмотрение жалобы в срок до 10 суток, о чем извещается заявитель).
                </li>
                <li>
                    Направление ответов заявителям в обусловленном порядке (пункт 6.1 Инструкции – ответ на обращение (запрос) направляется в форме электронного документа по адресу электронной почты, указанному в обращении, поступившем в органы прокуратуры в форме электронного документа, и в письменной форме по почтовому адресу, указанному в обращении, поступившем в органы прокуратуры в письменной форме).
                </li>
                <li>
                    Возврат приложенных заявителем к обращению документов (пункт 6.3 Инструкции – при направлении заявителям ответов на обращения возвращаются в обязательном порядке приложенные к ним документы).
                </li>
                <li>
                    Уведомление заявителей о результатах рассмотрения актов прокурорского реагирования (пункт 6.2 Инструкции –
                    если по обращению (запросу) принесен протест (внесено представление), предъявлен иск или приняты иные меры прокурорского реагирования, заявителю сообщается об этом, а также он уведомляется о последующем информировании
                    о результатах их рассмотрения. Ответ заявителю направляется разрешавшим обращение прокурором. Заявитель извещается
                    о результатах рассмотрения внесенных актов прокурорского реагирования в течение 7 дней с момента поступления сведений
                    в прокуратуру).
                </li>
            </ol>
        </div>
    </div>
</div>