@page "/satisfiedpage/{Year:int}"

<div class="container-fluid mt-2 text-center">
    <h2 class="mb-5">Реестры обращений, по которым приняты решения "Удовлетворено" и "Удовлетворено частично"</h2>



</div>

@code {
    [Parameter]
    public int Year { get; set; }
}
