@page "/satisfiedpage/{Year:int}"

<div class="container-fluid mt-2 text-center">
    <h1 class="mb-5">Реестры обращений, по которым приняты решения "Удовлетворено" и "Удовлетворено частично" @Year г.</h1>
<div class="container overflow-auto" style="background-image: url('img/BG.jpg'); height: 750px; background-repeat: no-repeat; background-position: center;">
    <div>
        <table class="table table-striped align-middle text-center ">
            <thead class="table-primary">
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var q in ReferencePeriod.Quarters)
            {
                <tr style="height:100px">
                    <td class="fs-2">
                        <div class="d-flex justify-content-center">
                            <div class="my-3">@q.Value @Year Удовлетворено </div>
                            <div class="mx-4">                               
                             @if (UserState.User.IsInRole(Participants.District))
                             {
                                 <a href="/satisfiedappealregistry/@DistrictName/@q.Key/@Year" class="btn btn-outline-primary"><img src="img/edit32.png" width="50" height="50" class="mt-2" /></a>
                             }
                             else if (UserState.User.IsInRole(Participants.Department))
                             {
                                 <a href="/satisfieddistrictspage/@DistrictName/@q.Key/@Year" class="btn btn-outline-primary"><img src="img/open32.png" width="50" height="50" class="mt-2" /></a>
                             }
                             else
                             {
                                 <a href="/satisfieddistrictspage/@q.Key/@Year" class="btn btn-outline-primary"><img src="img/open32.png" width="50" height="50" class="mt-2" /></a>
                             }
                            </div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</div>

@code {
    //[Inject]
    //public IUserService? UserService { get; set; }
    //[Inject]
    //public IRedirectedAppealDataService? RedirectedAppealDataService { get; set; }
    //%//
    [CascadingParameter(Name = "UserState")]
    public AuthenticationState UserState { get; set; }
    [CascadingParameter(Name = "DistrictName")]
    public string DistrictName { get; set; }
    //%//

    [Parameter]
    public int Year { get; set; }
    private string quarter;


    private void NavigateToAddPage()
    {
        navManager.NavigateTo($"/addredirectedappeal/{DistrictName}/{quarter}/{Year}");
    }
}
